 @import "tailwindcss";
 .inputStyle {
  @apply w-full rounded-xl border border-slate-200 bg-slate-50 px-4 py-3 outline-none focus:ring-2 focus:ring-sky-300 transition;
}
 
.cars-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
}

@media (min-width: 768px) {
  .cars-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .cars-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}