 @import "tailwindcss";
 
 
.cars-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
}

@media (min-width: 768px) {
  .cars-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .cars-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}